.banner {
  background: url("img/truong.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-right: 3rem;
  padding-left: 3rem;
  text-align: center !important;
  color: #0bf19d !important;
}
.slogan {
  background-color: #b5ead7 !important;
  text-align: center !important;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1;
  max-width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
}
.block_3 {
  flex: 0 0 auto;
  width: 33.33333333%;
  color: black !important;
}
.block_3 a {
  text-decoration: none;
  color: white;
}
.content {
  background-color: #ace7ff !important;
  text-align: center !important;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.block_2 {
  flex: 0 0 auto;
  width: 50%;
}
.footer {
  background-color: #8db5ff !important;
  text-align: center !important;
  color: rgb(0, 0, 0);
  width: 100%;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
.footer a:hover {
  color: red;
}
.content_2 {
  background-color: #acdeff !important;
  text-align: center !important;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
